/* styles.css */

.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
  }
  
  .card-body {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 15px;
  }
  
  .form-check {
    margin-bottom: 10px;
  }
  
  .insight-details {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }





  /* styles.css */

body {
    background-color: #f8f9fa;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .custom-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: center;
  }
  
  .custom-table th {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .custom-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .custom-table tbody tr:hover {
    background-color: #e0e0e0;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  

  /* styles.css */

body {
    background-color: #f8f9fa;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
   
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h4 {
    margin-bottom: 10px;
  }
  
  .list-group-item {
    border: none;
  }
  