<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">
  
    <!-- form card change password -->
    <div class="card card-outline-secondary">

        
      <div class="card-header">
        <h3 class="mb-0">Change Password</h3>
      </div>
      <div class="card-body">
        <div class="alert alert-success" role="alert" *ngIf="success" id="successAlert">
          {{msg}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="failed" id="failedAlert">
          {{msg}}
      </div>
      
        <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()" role="form" autocomplete="off">
  
          <div class="form-group">
            <label for="email">Enter Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
  
          <div class="form-group">
            <label for="password">Current Password</label>
            <div class="input-group">
              <input type="{{ showCurrentPassword ? 'text' : 'password' }}" class="form-control" id="password" formControlName="password">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showCurrentPassword = !showCurrentPassword">
                  <i class="fa" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <div class="input-group">
              <input type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control" id="newPassword" formControlName="newPassword">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="showNewPassword = !showNewPassword">
                  <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                </button>
              </div>
            </div>
            <span class="form-text small text-muted">
              The password must be 8-20 characters and must not contain spaces.
            </span>
          </div>
  
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg float-right" [disabled]="!changePasswordForm.valid">Update</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /form card change password -->
  </div>
  

