
<div id="carouselExampleControls" class="carousel  carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="cards-wrapper">
          <div class="card">
            <img
              src="https://drive.google.com/uc?export=view&id=1X4pW50pyuT6gG3tt0PBFCWBajns2_ikE"
              class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column align-items-center">
              
              <a  class="btn btn-primary mt-3"  href="/shop/products/all" (click)="getByType('all')">All</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img src="https://img.freepik.com/free-vector/happy-birthday-lettering_1094-119.jpg?w=2000" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column align-items-center">
            
              
              <a href="/shop/products/birthday" class="btn btn-primary mt-3"   (click)="getByType('birthday')" >Birthday</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img
              src="https://img.freepik.com/free-vector/romantic-love-message-hearts-background_1017-29964.jpg?w=2000"
              class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column align-items-center">
            
              <a href="/shop/products/love" class="btn btn-primary mt-3" (click)="getByType('love')">Love</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper">
          <div class="card">
            <img
              src="https://img.freepik.com/premium-vector/cute-wedding-couple-holding-hands-vector-isolated-white-background-illustration-vector_750364-13.jpg"
              class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column align-items-center">
    
              <a href="/shop/products/marriage" class="btn btn-primary mt-3"  (click)="getByType('marriage')">Marriage</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img
              src="https://previews.123rf.com/images/vasilyrosca/vasilyrosca1901/vasilyrosca190100012/114639013-grand-opening-ceremony-poster-concept-invitation-grand-opening-event-decoration-party-template.jpg"
              class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column align-items-center">
              
              
              <a href="/shop/products/grandopening" class="btn btn-primary mt-3"  (click)="getByType('grandopening')">Grand-Opening</a>
            </div>
          </div>
          <div class="card d-none d-md-block">
            <img
              src="https://images.squarespace-cdn.com/content/v1/56152c1ae4b0b95237c0fa65/1675887698258-6EBJ8JTK58WTLGJTSDCF/ATN019_Sympathy_Visual.jpg?format=1000w"
              class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column align-items-center">
              
              
              <a  href="/shop/products/sympathy" class="btn btn-primary mt-3" (click)="getByType('sympathy')">Sympathy</a>
            </div>
          </div>
        </div>
      </div>
  
  
  
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>